<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
            Inventory Management
        {% endblock %}
    </title>
    <link rel="icon" type="image/svg" href="{% static 'logo1.svg' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap">
    <script>
        {% block script %}
        {% endblock %}
    </script>
</head>
   
<body class='body-landing-page'>
    <header class="landing-header">
        <div>    
            <img src="{% static 'logo1.svg' %}" alt="Logo" class="landing-logo">
        </div>
        {% comment %} <div>    
            <img src="{% static 'trackit.svg' %}" alt="Logo" class="landing-logo" style="width: 120px;">
        </div> {% endcomment %}
        
    </header>  
    {% comment %} <div class="logo-line"></div> {% endcomment %}
    <div class="landing-page_container">  
        <div class="landing-page-left">
            <p class="positioned-text-home">Effortlessly streamline your inventory management {% comment %}<span style="color:#63c189">tracking app.</span>{% endcomment %}</p> 
            <button onclick="location.href='users/login/';" class="get-started-btn">Get Started <img src="{% static 'arrow.svg' %}" alt="Logo" class="arrow-svg"></button> {% comment %}<span class="btn-arrow">→</span></button>{% endcomment %}
        </div> 
        <div class="landing-page-right">
            <a>
                <img src="{% static 'landing-mobile1.svg' %}" alt="Logo" class="home_page_svg">
            </a> 
        </div>   
    </div>
    <div class="landing-page_container-mobile">  
        <div class="landing-page-right">
            <a>
                <img src="{% static 'landing-mobile1.svg' %}" alt="Logo" class="home_page_svg">
            </a> 
        </div> 
        <p class="positioned-text-home">Effortlessly streamline your inventory management{% comment %}<span style="color:#9eddb7">tracking app.</span>{% endcomment %}</p> 
        <button onclick="location.href='users/login/';" class="get-started-btn">Get Started <img src="{% static 'arrow.svg' %}" alt="Logo" class="arrow-svg"></button>
    </div>
    {% block content %}
    {% endblock %}
</body>

<form_body> 
</form_body>
</html>