<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    {% block head %}

    {% endblock %}
    <title>
        {% block title %}
            Inventory App
        {% endblock %}
    </title>
    <link rel="icon" type="image/svg" href="{% static 'logo1.svg' %}">
    {% block bootstrap %}

    {% endblock %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap">

    <script>
        {% block script %}
        {% endblock %}
    </script>
</head>

<body {% block body_class %} class="using-mouse" {% endblock %}>
    <div class="toggle-button" id="toggleButton">
        <img src="{% static 'dashboard+2.svg' %}" id="toggleIcon" class="toggle-icon">
    </div>    
    <div class="navbar" id="navbar">
        <div class="sidebar-logo-container">
            <a href="{% url 'dashboard:dashboard' %}">
                <img src="{% static 'logo1.svg' %}" alt="Logo" class="sidebar-logo">
            </a> 
        </div>
        <div class="sidebar-name"> trackit </div> 
        
        <nav class="icon-container">
            <ul class="icon-list">
                <li class="icon">
                    <a href="{% url 'dashboard:dashboard' %}" title="Dashboard">
                        <img src="{% static 'clipboard_simple.svg' %}" alt="Dashboard page link">
                        <p class="icon-text">Dashboard</p>
                    </a>
                </li>
                <li class="icon">
                    <a href="{% url 'inventory:inventory' %}" title="Inventory">
                        <img src="{% static 'inventory3.svg' %}" alt="Inventory page link">
                        <p class="icon-text">Inventory</p>
                    </a>
                </li>
                <li class="icon">
                    <a href="{% url 'inventory:components' %}" title="Materials">
                        <img src="{% static 'components_icon2.svg' %}" alt="Materials page link">
                        <p class="icon-text">Materials</p>
                    </a>
                </li>
                <li class="icon">
                    <a href="{% url 'calculator:calculator' %}" title="Wax Calculator">
                        <img src="{% static 'calculator.svg' %}" alt="Wax calculator page link">
                        <p class="icon-text">Wax Calculator</p>
                    </a>
                </li>
                <!-- Add more icons here -->
            </ul>
        </nav>
        <div class="header-button-container">
            <div class="username-mobile">
                <div class="user-circle"></div>    
                <div style="font-weight:bold; font-size:20px;">{{ username }}</div>
            </div>
            <form action ="{% url 'users:logout' %}" method="post">
                {% csrf_token %}   
                <button class="signin-btn" >Sign-Out</button>
            </form>
        </div>
    </div>
    <header class="header">
        {% comment %} <div class="page-name">  {% endcomment %}
            
            <div class="page-name-container">  
            {% block header %}

            {% endblock %}
            </div>
        {% comment %} </div> {% endcomment %}
        <div class="username">
            <div class="user-circle"></div>    
            <div style="font-weight:bold; font-size:20px;">{{ username }}</div>
        </div>

        <div class="header-button-container">
            <form action ="{% url 'users:logout' %}" method="post">
                {% csrf_token %}   
                <button class="signin-btn">Sign-Out</button>
            </form>
        </div>
    </header>
     
    <div class="main-content">
        {% block content %}
        {% endblock %}
    </div>
</body>

<script>
    document.addEventListener('mousedown', (event) => {
        document.body.classList.add('using-mouse');
    });

    document.body.addEventListener('keydown', (event) => {
        if (event.keyCode === 9){
            document.body.classList.remove('using-mouse');
        }
    });



    document.getElementById('toggleButton').addEventListener('click', function() {
        var navbar = document.getElementById('navbar');
        var body = document.body;
        var button = document.getElementById('toggleButton');
        var icon = document.getElementById('toggleIcon');

        navbar.classList.toggle('active');
        body.classList.toggle('noscroll');
        button.classList.toggle('active');
        icon.classList.toggle('toggle-icon-animate');

        {% comment %} if (navbar.classList.contains('active')) {
            button.textContent = '✖';
        } else {
            button.textContent = '☰';
        } {% endcomment %}
    });


</script>

<form_body> 
</form_body>
</html>