{% extends 'layout.html' %}
{% load static %}

{% block title %}
    Components
{% endblock %}

{% block header %}
    Components
{% endblock %}

{% block content %}
    <div class="inv_page_container">
        {% if component_count == 0 %}
            <div class="empty-inventory-container">
                <h2>
                    No Components Available in Inventory <br>  
                </h2>
                <div class="empty-inventory_page-form" >
                    <img src="{% static 'empty_inv.svg' %}" alt="Logo" class="empty_inv_svg">
                </div >
                <a href="{% url 'inventory:add_component' %}">
                    <button class="btn inv-add" onclick="location.href='/inventory/add_component';" >Add Component</button>
                </a>
            </div>
        {% else %}
            <div class="inv_page_container-stats">
                <div class="left-group">
                    <div class="inventory_page-form-small" >
                        <p class="stat_title">
                            Count
                        </p>
                        <p class="stat_number">
                            {{ component_count }}
                        </p>
                    </div>
                    <div class="inventory_page-form-small" >
                        <p class="stat_title">
                            Out of Stock
                        </p>
                        <p class="stat_number">
                            {{ out_of_stock }}
                        </p>
                    </div>
                </div>
            </div>
                
            <div class="inventory_page-form">
                <div class="svg-container">
                    <img src="{% static 'clip_vector.svg' %}" alt="" class="clip_vector">
                </div>
                <div class="inv-btn-container">
                    <a href="{% url 'inventory:add_component' %}">
                        <button class="btn inv-add" onclick="location.href='/inventory/add_component';" >Add Component</button>
                    </a>
                    <button id="delete_button" type="button" class = 'btn inv-delete'>Delete Selected</button>   
                </div> 
                <form id="delete_form" method="post" action="{% url 'inventory:components' %}" enctype="multipart/form-data">
                    {% csrf_token %}
                    <table>
                        <thead>
                            <tr>
                                <th style="width: 3%;"></th>
                                <th style="width: 7%;"></th>
                                <th style="width: 50%;">Name</th>
                                <th style="width: 16%;">Quantity</th>
                                <th style="width: 12%;">Price Per Unit</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for component in components %}
                                <tr>
                                    <td>
                                        <input type="checkbox" class="form-check-input-select" name="selected_components" value="{{ component.id }}">
                                    </td>
                                    <td>
                                        <a class="no_underline" href="{% url 'inventory:component_page' id=component.id name=component.name %}">
                                            <img src="{{ component.component_image.url }}" alt="📦" class="default_product_icon">
                                        </a>
                                    </td>    
                                    <td>
                                        <a class="no_underline" href="{% url 'inventory:component_page' id=component.id name=component.name %}">
                                            {{ component.name }}
                                        </a>
                                    </td>
                                    <td>{% if component.unit == 'Ct' %} 
                                            {{ component.quantity }}
                                        {% else %}
                                            {{ component.quantity }}{{ component.unit}}
                                        {% endif %}
                                    </td>
                                    <td>${{ component.price }}</td>  
                                </tr>    
                            {% endfor %}
                        </tbody>
                    </table>  
                </form>
                
            </div>

            {% comment %} Mobile Layout {% endcomment %}
            <div class="inventory_page-form-optons">
                <h2 style="text-align:left;">Components</h2>
                <div class="inv-btn-container">
                    <a href="{% url 'inventory:add_component' %}">
                        <button class="btn inv-add" onclick="location.href='/inventory/add_component';" >Add Component</button>
                    </a>
                    <button id="delete_button-mobile" type="button" class = 'btn inv-delete'>Delete Selected</button>   
                </div>
            </div>
            
            <div class="inventory_page-form-mobile">               
                <form id="delete_form-mobile" method="post" action="{% url 'inventory:components' %}" enctype="multipart/form-data">
                    {% csrf_token %}    
                    {% for component in components %}
                        <div class="inventory-product-card"> 
                            <div class="inventory-product-card-left-group">        
                                <input type="checkbox" class="form-check-input-select" name="selected_components" value="{{ component.id }}">
                                <a class="no_underline" href="{% url 'inventory:component_page' id=component.id name=component.name %}">
                                    <img src="{{ component.component_image.url }}" alt="📦" class="default_product_icon">
                                </a>
                            </div>    
                            <div class="inventory-product-card-info">
                                <a class="no_underline" href="{% url 'inventory:component_page' id=component.id name=component.name %}">
                                    {{ component.name }}
                                </a>
                                <span>Price: ${{ component.price }}</span>
                                <span>
                                    {% if component.unit == 'Ct' %} 
                                        Quantity: {{ component.quantity }}
                                    {% else %}
                                        Quantity: {{ component.quantity }}{{ component.unit}}
                                    {% endif %}
                                </span>    
                            </div>
                        </div> 
                    {% endfor %}
                </form>                
            </div>
        {% endif %}
    </div>



    <script>
        document.getElementById('delete_button').addEventListener('click', function() {
            document.getElementById('delete_form').submit();
        });

        document.getElementById('delete_button-mobile').addEventListener('click', function() {
            document.getElementById('delete_form-mobile').submit();
        });
    </script>
{% endblock %}