* {
    -webkit-tap-highlight-color: transparent;
}

body {
    background-color: #ffffff;
    /* background-color: #f3f5f8; */
    font-family: "EB Garamond", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    background-repeat: repeat-y;
    background-size: cover;
    background-attachment: fixed;
}

.body-add-product-page {
    background: url('../background11.svg');
    font-family: 'EB Garamond', serif;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.body-landing-page {
    padding-left: 3%;
    padding-right: 3%;
    background-color: #fff;
    font-family: "EB Garamond", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    overflow-y: hidden;
    overflow-x: hidden;
}

h3 {
    font-size: 120px;
}


/*--------------------------------Caculator Style-------------*/

.container {
    display: flex;
    flex-direction: column;
    /* position: relative; */
    padding: 4%;
    padding-bottom: 0%;
    padding-top: 0%;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    max-width: 65vw;
    height: 100%;
    background-color: transparent;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}

.login_page-container {
    display: flex;
    position: relative;
    padding: 2%;
    border-radius: 20px;
    /* padding-bottom: 0%;
    padding-top: 0%; */
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    min-width: 350px;
    max-width: 900px;
    height: 100%;
    background-color: transparent;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.login_header {
    font-size: 35px;
    text-align: left;
}

.login-page-right {
    background-color: transparent;
    /* width: 50%; */
    display: flex;
    flex-grow: 1;
    flex-basis: 400px;
    flex-direction: column;
    /* position: relative; */
}

.login-page-left {
    margin-right: 30px;
    background-color: #cbffd8;
    border-radius: 30px;
    display: flex;
    flex-grow: 1;
    flex-basis: 400px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.login-divider {
    border-left: 2px solid #676767;
    height: 500px;
}

.login_svg {
    min-width: 250px;
    max-width: 350px;
}

.login_mobile_svg {
    opacity: 0;
    height: 0;
}



.landing-page-right {
    background-color: transparent;
    /* width: 50%; */
    display: flex;
    flex-grow: 1;
    flex-basis: 400px;
    flex-direction: column;
    /* padding-top: 10vh; */
}

.landing-page-left {
    background-color: transparent;
    /* width: 50%; */
    display: flex;
    flex-grow: 1;
    flex-basis: 400px;
    flex-direction: column;
    align-self: start;
    margin-top: 100px;
    justify-content: center;
    align-items: center;
}

.inv_page_container {
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    width: 80%;
    height: auto;
    text-align: center;
    background: transparent;
}


.add_product_container {
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    width: 80%;
    height: auto;
    text-align: center;
    background: transparent;
}

.inv_page_container-stats {
    display: flex;
    background-color: transparent;
    justify-content: space-between;
    /* padding-left: 30px;
    padding-right: 30px; */
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
    min-width: 90%;
    max-width: 100%;
    height: 90px;
    gap: 10px;
    /* background: transparent; */
}

.left-group,
.right-group {
    /* transform: translate(10%, 0%); */
    display: flex;
    flex-direction: row;
    justify-content: left;
    background-color: #fff;
    gap: 10px;
}

.prod_page_container-label {
    display: flex;
    flex-direction: row;
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 40px;
    text-align: center;
    background: transparent;
}

.empty-inventory-container {
    display: flex;
    flex-direction: column;
    height: 65vh;
    gap: 50px;
    border-radius: 20px;
    background-color: transparent;
}

.empty-inventory_page-form {
    margin-top: 10px;
}


.page-form {
    display: flex;
    flex-direction: column;
    /* justify-content: center;
    align-items: center; */
    padding: 20px;
    background-color: transparent;
    border-radius: 10px;
    /* min-width: 300px; */
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.291); */
}

.inventory_page-form {
    z-index: 1;
    padding: 30px;
    background: #e8effd;
    border-radius: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.291);
    max-width: 100%;
    outline: 3px solid #121216;
}




@media screen and (max-width:1086px) {
    .inv_page_container-stats {
        display: none;
    }

    .inv_page_container {
        margin-top: 100px;
    }

}



.inventory_page-form-small {
    z-index: 0;
    padding: 20px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.291);
    max-width: 150px;
    height: 40px;
    margin-bottom: 10px;
    margin-right: auto;
    margin-left: auto;
    color: white;
    outline: 1.5px solid #121216;
    border-bottom-left-radius: 0%;
    border-bottom-right-radius: 0%;
    transform: translateY(70%);
    transition: transform 0.3s ease;
}

.inventory_page-form-small:hover {
    /* scale: 1.15; */
    transform: translateY(0%);
}

.inventory_add-page-form {
    padding: 20px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.291);
    width: 60%;
    align-self: center;
    margin-bottom: 7px;
    clip-path: inset(0px -10px -10px -10px);
    border-top-left-radius: 0%;
    border-top-right-radius: 0%;
}

.inventory_prod-page-form {
    padding: 20px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.291);
    clip-path: inset(0px -10px -10px -10px);
    width: 60%;
    align-self: center;
    margin-bottom: 7px;
    border-top-left-radius: 0%;
    border-top-right-radius: 0%;
}

.inventory_page_mid {
    padding: 20px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.291);
    width: 60%;
    height: 10px;
    align-self: center;
    margin-bottom: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom: 1px solid #ccc;
}



.add-page-banner {
    display: flex;
    flex-direction: row;
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.291);
    clip-path: inset(0px -10px -10px -10px);
    width: 60%;
    height: auto;
    text-align: center;
    margin-bottom: 7px;
    text-align: center;
    background-color: #fff;
    border-top-left-radius: 0%;
    border-top-right-radius: 0%;
}


.banner_image_field {
    width: auto;
    height: auto;
    margin-bottom: 10px;
    margin-right: 10px;
}

.banner_add_image_field {
    width: auto;
    height: auto;
    margin-bottom: 10px;
    margin-right: 10px;
}

.banner_name_field {
    padding: 20px;
    width: 70%;
    height: auto;
    text-align: left;
    margin-right: 10px;
    font-size: 25px;
    font-weight: 700;
    user-select: none;
}

.input-group {
    margin-bottom: 10px;
    left: -20px;
    text-align: left;
    justify-content: center;
    width: 100%;
    font-size: 16px;
    font-weight: 500;
}

.input-group-inv {
    margin-bottom: 10px;
    left: -20px;
    text-align: center;
    justify-content: center;
    width: 100%;
    font-size: 16px;
    font-weight: 500;
}

.input-group-comp {
    margin-bottom: 10px;
    left: -20px;
    text-align: left;
    justify-content: center;
    width: 100%;
    font-size: 16px;
    font-weight: 500;
}

.input-group-calc {
    margin-bottom: 10px;
    /* left: -20px; */
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: 500;
}

.input-field {
    max-width: 200px;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 10px;
}

input {
    height: 50px;
    width: 100%;
    height: 50px;
    padding: 5px;
    margin-top: 5px;
    border: 1px solid #3f3f42;
    border-radius: 10px;

}

input:user-valid {
    outline-color: #57d471;
}

input:user-invalid {
    outline-color: #c94157;
}

.input-field:focus {
    outline: solid 2px #eace2d;
}

.calculate-btn {

    margin-top: 20px;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    background-color: #57d471;
    color: white;
    cursor: pointer;
    /* transform: translateX(200px); */
}

.calculate-btn:hover {
    background-color: #1d4725;
}

.result {
    margin-top: 10px;
    font-size: 1.2em;
    color: #333;
}

.input-unit {
    position: absolute;
    transform: translate(80px, -40px);
    pointer-events: none;
    font-size: 14px;
    color: #666;
}

.input-unit2 {
    position: absolute;
    transform: translate(80px, -40px);
    pointer-events: none;
    font-size: 14px;
    color: #6c6c6c;
}

.positioned-text {
    position: absolute;
    top: -100px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 24px;
    font-weight: bold;
    user-select: none;
}

.positioned-text-home {
    z-index: 1;
    font-size: 45px;
    font-weight: bold;
    min-height: 200px;
    /* height: 30vh; */
    width: 70%;
    text-align: center;
    user-select: none;
    color: #011e2b;
}

.positioned-text-home2 {
    position: absolute;
    top: 0px;
    left: -50%;
    transform: translateX(-50%);
    font-size: 24px;
    width: 500px;
    user-select: none;
}

/*--------------------------------Caculator Style END-------------*/


.header {
    display: flex;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 1;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    width: 100%;
    height: 70px;
    background-color: #fff;
    border-bottom: 0.5px solid #dbdbdb;
    transition: padding-left 0.3s;
    /* margin-bottom: 40px; */
}



.landing-header {
    display: flex;
    position: absolute;
    left: 0;
    top: 0;
    justify-content: center;
    align-items: center;
    width: 100vw;
    padding: 5px;
    background-color: #fff;
    border-bottom: 0.5px solid #dbdbdb;


}

.layout-header {
    display: flex;
    position: absolute;
    left: 0;
    top: 0;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    padding: 5px;
    background-color: transparent;
    border-bottom: 0.5px solid #dbdbdb;
    transition: padding-left 0.3s;

}

.header-button-container {
    position: absolute;
    right: 0px;
    bottom: 50px;
    opacity: 0;
    width: 100px;
}

.logo {
    /* transform: translateX(7%); */
    width: 60px;
    height: auto;
}

.landing-logo {
    /* transform: translateX(7%); */
    width: 60px;
    height: auto;
    transform: translateY(7px);
    margin-bottom: 10px;
}

.signin-btn {
    z-index: 1;
    display: flex;
    margin-top: 1px;
    margin-right: 8px;
    padding: 14px 20px;
    border: none;
    border-radius: 50px;
    background-color: #bcffcd;
    color: #121216;
    cursor: pointer;
    text-decoration: none;
    font-family: inherit;
    transition: transform 0.2s ease, border 0.2s ease;
    border: 1.5px solid #121216;
    font-weight: bold;
    user-select: none;
}

.signin-btn:hover {
    transform: translateY(-7px);
    border-bottom: 3px solid #121216e6;
}

.register-btn {
    z-index: 1;
    display: block;
    margin-top: 1px;
    margin-left: 20px;
    padding: 14px 20px;
    margin-left: 7px;
    border: none;
    border-radius: 50px;
    background-color: #bcffcd;
    color: #121216;
    cursor: pointer;
    text-decoration: none;
    font-family: inherit;
    transition: transform 0.2s ease, border 0.2s ease;
    border: 1.5px solid #121216;
    font-weight: bold;
    user-select: none;
}

.register-btn:hover {
    transform: translateY(-7px);
    border-bottom: 3px solid #121216e6;
}

.get-started-btn {
    z-index: 1;
    position: absolute;
    top: 300px;
    margin-top: 90px;
    /* margin-left: 20px; */
    padding: 14px 20px;
    /* margin-left: 7px; */
    border: none;
    border-radius: 15px;
    background-color: #caffbd;
    color: #121216;
    cursor: pointer;
    text-decoration: none;
    font-family: inherit;
    transition: transform 0.2s ease, border 0.2s ease, border-radius 0.4s ease-in-out;
    border: 1.5px solid #121216;
    font-weight: bold;
    font-size: 17px;
    user-select: none;
    width: 250px;
    align-self: center;
}

.get-started-btn:hover {
    transform: translateY(-7px);
    border-radius: 50px;
    border-bottom: 3px solid #121216e6;
}

.arrow-svg {
    width: 30px;
    transition: all 0.3s ease;
}

.get-started-btn:hover .arrow-svg {
    width: 45px;
}

.login_container {
    z-index: 1;
    display: flex;
    justify-content: center;
    left: 25%;
    top: 25%;
    transform: translateY(-50%);
    transform: translateX(0%);
    width: 180px;
    height: 45px;
    background: transparent;
}

.user_message {
    position: flex;
    transform: translateX(800px);
    font-size: 18px;
    font-weight: bold;
    user-select: none;
}


/* --------------logo line--------------------------------- */
.logo-line {
    position: relative;
    padding: 1px 0;
}

.logo-line::after {
    content: '';
    display: block;
    width: 100vw;
    height: 0.5px;
    background-color: #dbdbdb;
    position: absolute;
    bottom: 0;
    /* left: 50%; */
    transform: translateX(-50%);
}

.logo2 {
    height: auto;
    width: 40px;
    margin-left: -1px;
    position: relative;
    top: 10px;
    transform: translateX(10px);
    text-decoration: none;
}

.logo3 {
    height: auto;
    width: 40px;
    margin-left: -1px;
    position: relative;
    top: 5px;
    transform: translateX(10px);
    text-decoration: none;
}

.logo4 {
    height: auto;
    width: 50px;
    margin-left: -1px;
    position: relative;
    top: 12px;
    transform: translateX(5px);
    text-decoration: none;
}

.page-name {
    display: flex;
    /* transition: margin-left 0.3s; */
}

.page-name-container {
    display: flex;
    font-size: 30px;
    font-weight: 800;
    user-select: none;
    margin-left: 100px;
}


/* --------------logo line END--------------------------------- */

@media (min-width: 881px) {
    .landing-page_container {
        display: flex;
        position: relative;
        padding: 0%;
        padding-bottom: 0%;
        padding-top: 0%;
        margin-top: 100px;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        max-width: 1400px;
        height: 100%;
        background-color: transparent;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    .landing-page_container-mobile {
        display: none;
    }

    .navbar {
        z-index: 10;
        position: fixed;
        top: 0px;
        left: 0px;
        width: 40px;
        height: 100%;
        background-color: #272730;
        /* 272730 */
        border-right: 1px solid #dbdbdb;
        padding: 20px;
        transition: width 0.3s ease-out;
        text-decoration: none;
    }

    .navbar:hover {
        width: 200px;
    }

    .toggle-icon {
        display: none;
    }

    .sidebar-logo {
        display: flex;
        width: 60px;
        transform: translate(-20%, -10%);
        opacity: 1;
    }

    .sidebar-name {
        display: flex;
        font-size: 50px;
        transform: translate(70px, -80px);
        color: #fff;
        opacity: 0;
        transition: all 0.5s ease;
        user-select: none;
    }


    .navbar:hover~.header {
        padding-left: 170px;
    }

    .navbar:hover .sidebar-name {
        opacity: 1;

    }

    .navbar:hover .header-button-container {
        opacity: 1;

    }

    .inventory_page-form-mobile {
        display: none;
    }

    .inventory_page-form-optons {
        display: none;
    }
}

.icon-container {
    position: sticky;
    top: 250px;
    margin-left: 15px;
    width: 50px;
    transform: translate(-50%, -25%);
    transition: margin-left 0.3s ease-out;
    text-decoration: none;
    user-select: none;
}


.icon {
    position: relative;
    width: 70px;
    height: 60px;
    background-color: transparent;
    border-radius: 20%;
    margin-top: 10px;
    margin-bottom: 50px;
    transition: transform 0.5s ease, border 0.5s ease;
    text-decoration: none;
}

.icon1_text {
    display: flex;
    display: flex;
    justify-content: start;
    align-items: start;
    color: #fff;
    font-weight: 400;
    transition: 0.5s ease;
    visibility: hidden;
    transform: translate(55px, -58px);
    font-size: 17px;
    font-weight: 700;
    text-decoration: none;
    user-select: none;
    margin-left: 30px;
    width: 110px;
    height: 35px;
    border-radius: 10px;
}

.icon2_text {
    display: flex;
    justify-content: start;
    align-items: start;
    display: flex;
    color: #fff;
    font-weight: 400;
    transition: 0.5s ease;
    visibility: hidden;
    transform: translate(55px, -33px);

    align-self: center;
    font-size: 17px;
    font-weight: 700;
    text-decoration: none;
    user-select: none;
    margin-left: 30px;
    width: 110px;
    height: 35px;
    border-radius: 10px;
}

.icon3_text {
    display: flex;
    display: flex;
    justify-content: start;
    align-items: start;
    color: #fff;
    font-weight: 400;
    transition: 0.5s ease;
    /* opacity: 0; */
    visibility: hidden;
    transform: translate(50px, -55px);
    font-size: 17px;
    font-weight: 700;
    text-decoration: none;
    user-select: none;
    margin-left: 30px;
    width: 110px;
    height: 35px;
    border-radius: 10px;
}

.icon:hover .icon-container {
    width: 90px;
}

.navbar:hover .icon1_text,
.navbar:hover .icon2_text,
.navbar:hover .icon3_text {
    opacity: 1;
    visibility: visible;
    width: 110px;
    height: 35px;
    border-radius: 5px;
    text-decoration: none;
    background-color: transparent;
    user-select: none;
}

.icon:hover {
    transform: translateX(20px);
    width: 60px;
    border-radius: 15px;
    background-color: #ecf4df;
    outline: 4px solid #272730;
}


.icon:hover::after {
    transform: translateX(-50px);
}

.icon:hover~.navbar {
    padding-left: 50px;
    padding-right: 20px;
}


.home_page_svg {
    /* transform: translateY(-50px); */
    width: 100%;
    height: 100%;
    /* margin-top: -200px;
    margin-left: -400px; */

}

.empty_inv_svg {
    align-self: center;
    width: 50%;
    height: auto;
    margin-top: -70px;
}

.wax_fo_svg {
    position: absolute;
    inset: 0;
    /* top: 70%; */
    margin: auto;
    width: 370px;
    height: auto;
    margin-top: 70vh;

}

.res-container {
    display: flex;
    flex-direction: row;
    margin: auto;
    justify-content: space-between;
    width: 250px;
}

.no-res-container {
    visibility: hidden;
    margin-top: 20px;
    padding: 5px;
    border-radius: 5px;
    outline: 1px solid red;
    color: red;
}



.res1 {
    margin: auto;
}

.res2 {
    margin: auto;

}

.helptext {
    display: none;
}

form {
    display: flex;
    flex-direction: column;
}

button.btn-primary {
    align-self: left;
    width: 55%;
    margin-top: 5px;
    padding: 10px;
    border: none;
    background-color: #bcffcd;
    color: #121216;
    border-radius: 12px;
    cursor: pointer;
    font-size: 16px;
    transition: transform 0.2s ease, border 0.2s ease;
    border: 1.5px solid #121216;
    font-family: inherit;
}

button.btn-primary:hover {
    transform: translateY(-7px);
    border-bottom: 3px solid #121216e6;
}


button.inv-delete {
    align-self: self-end;
    width: 150px;
    margin-top: 15px;
    margin-left: 10px;
    padding: 10px;
    border: none;
    background-color: rgba(188, 255, 205, 0.5);
    color: #121216;
    border-radius: 12px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 700;
    transition: transform 0.2s ease, border 0.2s ease;
    border: 1.5px solid #121216;
    font-family: inherit;

}

button.inv-delete:hover {
    transform: translateY(-7px);
    border-bottom: 3px solid #121216e6;
}

button.inv-add {
    align-self: self-start;
    width: 150px;
    margin-top: 15px;
    padding: 10px;
    border: none;
    background-color: rgba(188, 255, 205, 0.5);
    color: #121216;
    border-radius: 12px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 700;
    transition: transform 0.2s ease, border 0.2s ease;
    border: 1.5px solid #121216;
    font-family: inherit;
}

button.inv-add:hover {
    transform: translateY(-7px);
    border-bottom: 3px solid #121216e6;
}

.inv-btn-container {
    display: flex;
    justify-content: end;
    width: 100%;
    background-color: transparent;
}

h2 {
    user-select: none;
}

h3 {
    font-weight: 100;
    font-size: 15px;
    cursor: default;
    user-select: none;
}

.errorlist {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.errorlist li {
    color: red;
    font-size: 14px;
    margin-bottom: 5px;
    display: none;
}

.form-control_users.is-invalid {
    outline: 2px solid #f37575;
    border: 1px solid #f37575;
}

.form-control.invalid-feedback {
    outline: 2px solid #f37575;
}

.invalid-feedback {
    color: #f37575;
    font-size: 3.875em;
    display: block;
    margin-top: 0.25rem;
}

table,
td {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    user-select: none;
    height: 60px;
    border-left: 0px;
    border-right: 0px;
    border-bottom: solid 2px #e1ebff;
    margin-top: 20px;
}

tbody tr:hover {
    background-color: #e1ebff;
}

th {
    font-size: 100%;
    border-top: 1px solid #121216;
    border-bottom: 1px solid #121216;
    background-color: #e1ebff;
    height: 50px;
}


.form-row {
    display: flex;
    justify-content: space-between;
}

.form-group {
    flex: 1;
    margin-right: 10px;
}

.form-group:last-child {
    margin-right: 0;
}

.form-control {
    margin-right: 10px;
    width: 100%;
    height: 50px;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #3f3f42;
    border-radius: 10px;
    box-sizing: border-box;
}

.form-control-components {
    margin-right: 10px;
    width: 100%;
    height: 50px;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #3f3f42;
    border-radius: 10px;
    box-sizing: border-box;
}

.form-control-components:focus {
    border: 3px solid #8ff2bd;
    outline: 0;
}

.form-control:focus {
    border: 3px solid #8ff2bd;
    outline: 0;
}

.form-control_users {
    width: 80%;
    height: 50px;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #3f3f42;
    border-radius: 10px;
    box-sizing: border-box;
}

.form-control_users:focus {
    border: 3px solid #8ff2bd;
    outline: 0;
}

.form-control_users:hover {
    background-color: #e9f7ff;
}

.form-control:hover {
    background-color: #e9f7ff;
}

.form-control-components:hover {
    background-color: #e9f7ff;
}

.form-control-component_quant {
    width: 90%;
    height: 50px;
    /* transform: translateX(-5px); */
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #3f3f42;
    border-radius: 10px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    box-sizing: border-box;
}

.form-control-component_quant:focus {
    border: 3px solid #8ff2bd;
    outline: 0;

}

.form-control-component_quant:hover {
    background-color: #e9f7ff;
}

/* .form-control-components {
    font-family: inherit;
    float: left;
    margin-right: 10px;
    width: 50%;
    height: 50px;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    border: 1px solid #3f3f42;
    border-radius: 30px;
    box-sizing: border-box;
}

.form-control-components:focus {
    border: 3px solid #8ff2bd;
    outline: 0;

}

.form-control-components:hover {
    background-color: #e9f7ff;
} */

.form-check-input {
    margin-top: 25px;
    margin-left: 5px;
    width: 30px;
    height: 30px;
    align-items: center;
}

.form-dropdown {
    position: absolute;
    background-color: #f2f2f2;
    margin-top: 25px;
    width: 60px;
    height: 50px;
    transform: translate(-60px, 1px);
    border-radius: 10px;
    outline: 0.5px solid #3f3f42;
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
    font-family: inherit;
}

.form-check-input-select {
    width: 20px;
    height: 20px;
    align-items: center;
}

.form-control.invalid,
.form-check-input.invalid {
    border: 2px solid #f37575;
}

.no_underline {
    text-decoration: none;
    font-weight: bold;
    font-style: #121216;
}

a:link {
    color: #121216;
}

a:visited {
    color: #121216;
}

a:hover {
    color: #eace2d;
    font-size: 20;
}

.boolean_icon {
    width: 20px;
    height: auto;
    user-select: none;
}

.boolean_icon2 {
    width: 20px;
    height: auto;
    user-select: none;
}

.default_product_icon {
    width: 50px;
    height: auto;
    user-select: none;
    border-radius: 10px;
}

.product_page_icon {
    width: 150px;
    height: auto;
    user-select: none;
    border-radius: 10px;
    place-self: start;
    background-color: transparent;
    float: left;
    cursor: pointer;
}

.product_add_page_icon {
    width: 100px;
    height: auto;
    user-select: none;
    border-radius: 10px;
    place-self: start;
    background-color: transparent;
    float: left;
    cursor: pointer;
    transition: opacity 0.5s ease;
}

.product_page_icon:hover {
    outline: 1.5px dashed #121216;
}

.product_add_page_icon:hover {
    opacity: 0.5;
}

.stat_title {
    background-color: transparent;
    border-radius: 5px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    text-align: center;
    width: 170px;
    height: 25px;
    transform: translate(-10px, -30px);
    font-weight: bold;
    user-select: none;
    color: #121216;
}

.stat_number {
    transform: translateY(-70px);
    font-weight: 700;
    font-size: 40px;
    user-select: none;
    color: #121216;
    color: #121216;
}

.stat_number::before {
    content: '';
    display: block;
    width: 150px;
    height: 1px;
    border-radius: 10px;
    background-color: #121216;
    position: absolute;
    transform: translate(0px, 5px);
}


p {
    text-decoration: none;
}

a {
    text-decoration: none;
}

label {
    text-align: left;

}

.clip_vector {
    z-index: 0;
    width: 300px;
    height: auto;
    user-select: none;
}


.svg-container {
    display: none;
    z-index: 2;
    position: relative;
    /* top: 50px; */
    /* left: 50%; */
    transform: translateX(-50%);
    transform: translateY(-100%);
    background-color: transparent;
    margin-bottom: -200px;
}

.svg-container_product_path_vector {
    position: absolute;
    transform: translate(75%, -5%);
    background-color: transparent;
}

.product_path_vector {
    z-index: 0;
    width: 590%;
    height: auto;

}

/* DAHSBOARD */

.dashboard-first-row-container {
    display: flex;
    position: relative;
    padding: 4%;
    padding-bottom: 0%;
    padding-top: 0%;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    width: 65vw;
    height: 100%;
    background-color: transparent;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
}


/* @media (max-width: 480px) {
    .dashboard-first-row-container {
        width: 80vw;
    }
} */

.dashboard-second-row-container {
    display: flex;
    position: relative;
    padding: 4%;
    padding-top: 0%;
    margin-top: 1%;
    margin-left: 5%;
    margin-right: 5%;
    width: 65%;
    height: 100%;
    background-color: transparent;
    flex-wrap: wrap;
    justify-content: end;

}

/* .card1:hover,
.card2:hover,
.card3:hover,
.card4:hover,
.card5:hover,
.card6:hover,
.card7:hover {
    z-index: 1;

    /* box-shadow: 0 0 0 3px #011e2b; */
/* animation-name: card;
    animation-duration: 0.7s;
    animation-timing-function: ease;
    animation-fill-mode: forwards; 
} */

@keyframes card {
    from {
        rotate: 0deg;
    }

    33% {
        rotate: 4deg;
    }

    66% {
        rotate: 2deg;
    }

    to {
        rotate: 3deg;
    }
}

.card1 {
    /* Stock alerts */
    order: 2;
    display: flex;
    flex-grow: 1;
    flex-basis: 200px;
    flex-direction: column;
    position: relative;
    transition: scale 0.3s ease;
    margin-right: 1%;
    margin-bottom: 2%;
}

.card2 {
    /* COG */
    order: 3;
    display: flex;
    flex-grow: 1;
    flex-basis: 200px;
    flex-direction: column;
    position: relative;
    transition: scale 0.3s ease;
    margin-right: 1%;
    margin-bottom: 2%;
}

.card3 {
    /* Daily sales */
    order: -1;
    display: flex;
    flex-basis: 200px;
    flex-grow: 1;
    flex-direction: column;
    position: relative;
    transition: scale 0.3s ease;
    margin-right: 1%;
    margin-bottom: 2%;
}

.card4 {
    /* All-time sales */
    order: 0;
    display: flex;
    flex-basis: 200px;
    flex-grow: 1;
    flex-direction: column;
    position: relative;
    transition: scale 0.3s ease;
    margin-right: 1%;
    margin-bottom: 2%;
}

.card5 {
    order: 1;
    display: flex;
    flex-basis: 200px;
    flex-grow: 1;
    flex-direction: column;
    position: relative;
    transition: scale 0.3s ease;
    margin-right: 1%;
    margin-bottom: 2%;
}

.card6 {
    order: 1;
    display: flex;
    flex-basis: 200px;
    flex-grow: 1;
    flex-direction: column;
    position: relative;
    transition: scale 0.3s ease;
    margin-right: 1%;
    margin-bottom: 2%;
}

.card7 {
    order: 1;
    display: flex;
    flex-basis: 200px;
    flex-grow: 1;
    flex-direction: column;
    position: relative;
    transition: scale 0.3s ease;
    margin-right: 1%;
    margin-bottom: 2%;
}


.card_top {
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.291); */
    content: '';
    flex-direction: column;
    padding-top: 5%;
    width: 100%;
    height: 170px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    background-color: #e8effd;
    border: 1.5px solid #e1ebff;
}

.card_bottom {
    content: '';
    flex-direction: column;
    width: 100%;
    height: 70px;
    padding-top: 5px;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    background-color: white;
    border: 1.5px solid #e1ebff;
    border-top: 0.75px;
    text-align: center;
    justify-content: space-between;
}

.card_top:hover {
    box-shadow: 0 0 0 2px #c4d6fb;
    /* border: 2px solid #c4d6fb; */
    border-bottom: 0px solid #e1ebff;
}

.card_top:hover~.card_bottom {
    box-shadow: 0 0 0 2px #c4d6fb;
    /* border: 2px solid #c4d6fb; */
    border-top: 0px solid #e1ebff;
}

.card2_top {
    content: '';
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 5%;
    width: 100%;
    height: 170px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    background-color: #e8effd;
    border: 1.5px solid #e1ebff;
}

.card2_bottom {
    content: '';
    width: 400px;
    height: 75px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: #121216;
    border: 1.5px solid #121216;
    border-top: 0px;
    text-align: center;
}

.card3_top {
    content: '';
    width: 600px;
    height: 450px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background-color: white;
    border: 1.5px solid #121216;
    border-bottom: 0px;
}

.card3_bottom {
    content: '';
    width: 600px;
    height: 150px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: #121216;
    border: 1.5px solid #121216;
    border-top: 0px;
    text-align: center;
}

.card-content {
    display: flex;
    justify-content: space-between;
    background-color: transparent;
    padding: 20px;
    padding-bottom: 5px;
    padding-top: 5px;
    user-select: none;
}

.card2-content {
    display: flex;
    justify-content: center;
    background-color: transparent;
    padding: 20px;
    padding-bottom: 5px;
    padding-top: 0px;
    user-select: none;
}

.bottom-card-content {
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    background-color: transparent;
    padding: 20px;
    padding-bottom: 5px;
    padding-top: 5px;
    user-select: none;
}

.in_stock-icon {
    width: 50px;
    height: auto;
    user-select: none;
}



.register-icon {
    width: 70px;
    height: auto;
    user-select: none;
}

.warning-icon {
    transform: translateY(4px);
    margin-left: 10px;
    margin-right: 10px;
    width: 15px;
    height: auto;
    user-select: none;
    animation-name: warning;
    animation-duration: 1.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: normal;
}

@keyframes warning {
    from {
        filter: blur(0);
    }

    to {
        filter: blur(1rem);
    }
}

.donut-center {
    position: absolute;
    justify-content: center;
    align-items: center;
    transform: translate(-180%, 330%);
    user-select: none;
    font-weight: 700;
}

.total_sales-center {
    position: absolute;
    justify-content: center;
    align-items: center;
    transform: translateY(200%);
    user-select: none;
    font-weight: 700;
    font-size: 30px;
}

.total_sales-pos {
    position: absolute;
    justify-content: center;
    align-items: center;
    transform: translateY(-70%);
    user-select: none;
    font-weight: 700;
    font-size: 20px;
}


@media screen and (max-width:880px) {
    .body-landing-page {
        overflow-y: scroll;
    }

    .header {
        padding-top: 5px;
        padding-left: 0%;
        padding-right: 0%;
        height: 70px;
    }

    .landing-header {
        background-color: transparent;
        border-bottom: 0px;
    }

    .landing-page_container {
        display: none;
    }

    .landing-page_container-mobile {
        display: flex;
        position: relative;
        justify-content: space-between;
        margin-top: 80px;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        max-width: 1400px;
        height: 100%;
        background-color: transparent;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        visibility: visible;
    }

    .header-button-container {
        position: absolute;
        right: 50px;
        bottom: 80px;
        opacity: 1;

    }

    .page-name-container {
        margin-left: 20px;
    }

    .landing-page-left {
        padding-top: 0px;
        margin-top: 50px;
        max-width: 65vw;
        background-color: transparent;
    }

    .landing-page-text-mobile {
        background-color: transparent;
        /* width: 50%; */
        display: flex;
        flex-grow: 1;
        flex-basis: 400px;
        flex-direction: column;
        align-self: start;
        padding-top: 0px;
        margin-top: 50px;
        max-width: 400px;
        background-color: transparent;
    }

    .landing-page-right {
        justify-content: center;
        padding-top: 0px;
    }


    .positioned-text-home {
        position: absolute;
        align-self: center;
        font-size: 35px;
        text-align: center;
        /* bottom: 80px; */
        transform: translateY(150px);
        width: 300px;
    }

    .get-started-btn {
        /* align-self: center; */
        justify-self: end;
        bottom: -200px;
        width: 70%;
        /* transform: translateY(-100px); */
    }

    .page-form {
        justify-content: center;
        align-items: center;
        min-width: 250px;
        margin-top: 20%;
    }

    .login_page-container {
        justify-content: right;
        align-items: center;
    }

    .login_header {
        font-size: 35px;
        text-align: center;
    }

    .login-page-left {
        margin-right: 0px;
        background-color: transparent;
    }

    .login-page-right {
        /* opacity: 0; */
        /* height: 0; */
        transform: translateY(-100px);
        background-color: transparent;
    }

    .login_svg {
        height: 0;
        opacity: 0;
    }

    .login_mobile_svg {
        height: 200px;
        opacity: 1;
    }

    .input-group {
        margin-bottom: 10px;
        left: -20px;
        text-align: center;
        font-size: 16px;
        font-weight: 500;
    }

    .input-group-inv {
        margin-bottom: 10px;
        left: -20px;
        text-align: center;
        font-size: 16px;
        font-weight: 500;
    }

    .input-group-comp {
        margin-bottom: 10px;
        left: -20px;
        text-align: left;
        font-size: 16px;
        font-weight: 500;
    }

    button.btn-primary {
        align-self: center;
        width: 55%;
        margin-top: 5px;
        padding: 10px;
        border: none;
        background-color: #bcffcd;
        color: #121216;
        border-radius: 12px;
        cursor: pointer;
        font-size: 16px;
        transition: transform 0.2s ease, border 0.2s ease;
        border: 1.5px solid #121216;
        font-family: inherit;
    }

    button.btn-primary:hover {
        transform: translateY(0px);
        border-bottom: 0px solid #121216e6;
    }

    .navbar {
        visibility: hidden;
        opacity: 0;
        z-index: 100;
        position: fixed;
        top: 0px;
        left: 0px;
        width: 40px;
        height: 100%;
        background-color: #272730;
        padding: 20px;
        transition: width 0.2s linear, opacity 0.3s linear, visibility 0.2s linear;
        /* transition: opacity 0.3s; */
        text-decoration: none;
        overflow-x: hidden;
        overflow-y: auto;
    }

    .icon-container {
        position: sticky;
        top: 250px;
        margin-left: 35px;
        width: 55px;
        transform: translate(-50%, -20%);
        transition: margin-left 0.3s ease-out;
        text-decoration: none;
        user-select: none;
    }

    .navbar.active {
        visibility: visible;
        opacity: 1;
        z-index: 10;
        width: 100%;
    }

    .navbar.active~.toggle-button {
        opacity: 1;
        width: 100%;
        color: white;
    }

    .toggle-button {
        position: fixed;
        top: 10px;
        right: 10px;
        z-index: 1000;
        background-color: transparent;
        /* Example background color */
        color: #272730;
        border: none;
        padding: 10px;
        font-size: 30px;
        font-weight: 700;
        cursor: pointer;
    }

    .toggle-button.active {
        color: white;
    }


    .icon1_text,
    .icon2_text,
    .icon3_text {
        opacity: 1;
        visibility: visible;
        width: 110px;
        height: 35px;
        border-radius: 5px;
        text-decoration: none;
        background-color: transparent;
        user-select: none;
    }

    .sidebar-logo-container {
        display: flex;
        background-color: transparent;
        height: 80px;
        width: 90%;
        justify-content: center;
        align-items: center;
        opacity: 1;
    }

    .sidebar-logo {
        width: 60px;
        transform: translate(-20%, -20%);
        opacity: 1;
    }

    .sidebar-name {
        display: none;
    }

    body.noscroll {
        overflow: hidden;
        position: fixed;
        width: 100%;
    }

    .dashboard-first-row-container {
        width: 100%;
        padding: 0px;
    }

    .svg-container {
        display: none;
    }

    .empty_inv_svg {
        width: 80%;
    }

    .inv_page_container-stats {
        display: none;
    }

    .inv_page_container {
        width: 100%;
        margin-top: 100px;
    }

    .inventory_page-form {
        display: none;
    }

    .inventory_page-form-mobile {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        padding: 10px;
        background: #e8effd;
        border-radius: 0px;
        /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.291); */
        max-width: 100%;
        outline: 0px solid #121216;
        border-top: 1px solid black;
        gap: 20px;
    }

    .inventory-product-card {
        display: flex;
        position: relative;
        flex-direction: row;
        width: 350px;
        background-color: transparent;
        margin-bottom: 10px;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
        border-bottom: 1px solid black;
    }

    .inventory-product-card-info {
        display: flex;
        flex-direction: column;
        justify-content: left;
        align-items: start;
        width: 100%;
        padding-left: 20px;
    }

    .inventory-product-card-left-group {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 10px;
    }

    .inventory_page-form-optons {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 10px;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        background: #e8effd;
        padding: 10px;
        margin-top: 30px;
    }

    button.inv-add {
        width: 100px;
        transition: none;
    }

    button.inv-delete {
        width: 100px;
        transition: none;
    }

    .inventory_page_mid {
        width: 90%;
    }

    .add-page-banner {
        width: 90%;
    }

    .inventory_prod-page-form {
        width: 90%;
    }

    .inventory_add-page-form {
        width: 90%;
    }

    .add_product_container {
        width: 100%;
    }

    .toggle-icon {
        width: 40px;
        height: auto;
        background-color: #bcffcd;
        border-radius: 50px;
        outline: 1px solid #121216;
        transition: transform 0.3s ease
    }

    .toggle-icon-animate {
        transform: rotate(45deg);
        background-color: #c94157;
        outline: 1px solid #fff;
    }

}