<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
            Register
        {% endblock %}
    </title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap">
    <link rel="icon" type="image/svg" href="{% static 'logo1.svg' %}">
    <script>
        {% block script %}
        {% endblock %}
    </script>
</head>

<body>
    <header class="landing-header">
        <div>
            <a href="/">    
                <img src="{% static 'logo1.svg' %}" alt="Logo" class="landing-logo">
            </a>    
        </div>
    </header>  
    
    <div class="login_page-container">
        <div class="login-page-left">
            {% comment %} <div class='login_svg'> {% endcomment %}
                <img src="{% static 'login.svg' %}" class='login_svg'>
                <img src="{% static 'login_mobile.svg' %}" class='login_mobile_svg'>
            {% comment %} </div>   {% endcomment %}
        </div> 

        <div class="login-page-right">
            <div class="page-form">
                <h2 class="login_header">Create a free account</h2>
                {% comment %} <h3 style="text-align:center;">Create a free account</h3> {% endcomment %}
                <div class="input-group">
                    <form class="" action="/users/register/" method="post" novalidate> 
                        {% csrf_token %}
                        {{ form }}
                        <button type="submit" class="btn" style="width:80%; margin-top:10px;">Register</button>
                    </form>
                    <h3>Already a member?<a href="{% url 'users:login' %}"> <span style="color:#63c189"> Sign in → </span></a> </h3>
                </div>    
            </div>    
        </div>
    </div>  
    {% block content %}
    {% endblock %}
    
</body>
</html>